    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>What is brandstand.ai?</h2>
              <br/>
                <p>brandstand uses a combination of AI and brand data to identify trends in your consumers’ thinking.</p>
                <p> Refine your proposed messaging by exploring how your chosen words scale into other concepts and ideas, based on social media, and trends among your customers.</p>
                <p> brandstand also helps to build custom feature extractors which can analyse text for subtle features, like sentiment, education, or gender.</p>
                <br/>
              </div>
        </div>
    </section>

